.projects {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
  margin-top: 20px;
}

/* unvisited link */
.projects a:link {
  color: black;
}

/* visited link */
.projects a:visited {
  color: black;
}

/* mouse over link */
.projects a:hover {
  color: grey;
}

/* selected link */
.projects a:active {
  color: grey;
}

.projects .project-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
}

.projects h1 {
  width: 100%;
}

/* .projects .image {
  min-width: 30vw;
  min-height: 30vh;
  height: 100%;
  margin-left: 5%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center
} */

.projects img,
.projects video {
  max-width: 30vw;
  margin-left: 5%;
}

.projects .xclass {
  background-image: url('../../media/xclassTvSearch.png');
}

.projects .interview {
  background-image: url('../../media/lightning-interview-success.gif');
}

.projects .text-container {
  max-width: 80%;
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
}

@media only screen and (max-width: 800px) {
  .projects .project-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .projects .text-container {
    margin-top: 30px;
    margin-left: 0%;
    margin-right: 0%;

  }

  .projects img,
  .projects video {
    margin: 0%;
    min-width: 80vw;
  }

}