.education {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.education h1 {
  position: relative;
}

.education .text-container {
  text-align: center;
}

.education .card-container {
  width: 100%;
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

@media only screen and (max-width: 1250px) {
  .education .card-container {
    flex-direction: column;
  }
  .education .card-container div:nth-of-type(1) {
    margin-bottom: 50px;
  }
}