.education {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: left;
  margin-top: 20px;
}

.education h1 {
  position: relative;
}

.education .text-container {
  max-width: 40%;
  margin-left: 8%;
  text-align: left;
}

.education .u-image {
  width: 60vw;
  height: 30vh;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../../media/psuLogo1.png');
}
