.about {
  height: 95vh;
  top: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  background-image: url('../../media/canyonBackground.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  margin-bottom: 40px;
}

.about .text-container {
  max-width: 100%;
  margin-left: 20%;
  margin-right: 20%;
  text-align: left;
  color: white;
  background-color: black;
  border-radius: 20px;
  opacity: 0.7;
}

.about .text-container h1, 
.about .text-container p {
  padding: 20px 20px 20px 20px;
}

@media only screen and (max-height: 700px) {
  .about .text-container {
    margin-left: 10%;
    margin-right: 10%;
  }
  .about .text-container h1 {
    font-size: x-large;
  }
  .about .text-container p {
    font-size: large;
    line-height: normal;
}
}

@media only screen and (max-width: 800px) {
  .about {
    background-position: right;
  }
  .about .text-container {
    margin-left: 5%;
    margin-right: 5%;
  }
}