.contact {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: left;
  margin-top: 20px;
  padding-bottom: 10px;
  padding-top: 10px;
  background-color: black;
  outline-width: 0px;
  margin-bottom: -1px; /* oddity to remove grey line at seams */
}

.contact i {
  font-size: xx-large;
  padding: 0 30px;
  position: relative;
  align-items: top;
  transition: font-size 0.2s linear;
  margin: 0em;
  color: white;
}

.contact .text-container {
  max-width: 80%;
  text-align: left;
}