.postTile {
  height: 100%;
  width: 100%;
  color: black;
  background-color: rgba(0,0,0,0.05);
  border-radius: 20px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.15);
}

.postTile h3 {
  margin-top: 1%;
  margin-bottom: 0;
  font-weight: 600;
}

.postTile p {
  font-size: medium;
  margin-top: 2%;
  margin-right: 2%;
  margin-left: 2%;
  line-height: 20px;
}

.postTile .postDate p {
  font-size: 12px;
  font-style: italic;
  font-weight: 200;
}