.navbar {
  position: sticky;
  top: 0;
  background-color: black;
  color: white;
  z-index: 100;
  display: flex;
  flex-direction: row;
  align-items: center;
  transition: all 0.2s linear;
}

.navbar.expanded {
  height: 7vh;
}

.navbar.collapsed {
  height: 5vh;
}

.navbar h1,
.navbar i {
  padding: 0 5px;
  position: relative;
  align-items: top;
  transition: font-size 0.2s linear;
  margin: 0em;
}

.navbar.expanded h1,
.navbar.expanded i {
  font-size: x-large;
}

.navbar.collapsed h1,
.navbar.collapsed i {
  font-size: medium;
}

.title {
  width: 50vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  justify-content: left;
  margin-left: 5%;
}

.navbar .linkbar {
  width: 50vw;
  text-align: right;
  margin-right: 3%;
}

.navbar .linkbar i {
  color: #fff;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  padding: 0px 12px;
}

.navbar .linkbar i:hover {
  transform: scale(1.3);
}

@media only screen and (max-width: 800px) {
  .navbar .linkbar i,
  .navbar .linkbar h1 {
    font-size: large;
  }

  .navbar.expanded h1,
  .navbar.expanded i {
    font-size: large;
}
}

@media only screen and (max-width: 600px) {
  .navbar .linkbar i,
  .navbar .linkbar h1 {
    font-size: medium;
  }
}

@media only screen and (max-width: 480px) {
  .navbar .linkbar {
    display: none;
  }
}