.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  background: rgba(89, 89, 89, 0.1);
}

.section {
  height: 50%;
}

p {
  margin: 0;
  font-size: 24px;
  line-height: 34px;
}

h1 {
  margin: 0;
  padding-bottom: 20px;
}

@media only screen and (max-width: 800px) {
  p {
    font-size: 20px;
    line-height: 30px;
  }
}