.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  background: rgba(89, 89, 89, 0.1);
}

.section {
  height: 50%;
  margin-bottom: 50px;
  scroll-margin-top: 5rem;
}

p {
  margin: 0;
  font-size: 28px;
  line-height: 38px;
}